.App {
  text-align: center;
  margin:0px;
  
}

h1{
  text-shadow: 1px 1px gray;
  size: 50px;
  font-family: 'Oleo Script', cursive;
}
h2{
  font-family: 'Rubik', sans-serif;
}
p{
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}


a {
  text-decoration: none;
}

.Home{
  margin:0px;
  padding-right: 300px;
  padding-left: 300px;

}

  
.Meet_Up{
  margin:0px;
  padding-right: 300px;
  padding-left: 300px;
}


.book_list{
  margin:0;
  padding-right: 300px;
  padding-left: 300px;
  
} 
.amateur_artists{
  display:flex;
  justify-content: space-around;

}

.meet_up_component{
  display:flex;
  justify-content: space-around;
}

.book_list_component{
  display:flex;
  justify-content: space-around;

}

.single_artist{
  border-style:solid;
  padding: 30px;
  border: 7px groove #1C6EA4;
  border-radius: 40px 0px 40px 0px;
}

.single_meet_up{
  border-style:solid;
  padding: 30px;
  border: 7px groove #1C6EA4;
  border-radius: 40px 0px 40px 0px;
}

.single_book{
  border-style:solid;
  padding: 30px;
  border: 7px groove #1C6EA4;
  border-radius: 40px 0px 40px 0px;
  
}

.form{
  display:inline-block;
  width: 15%;
  background-color: #0000f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid;
  border-radius: 4px;
}











